* {
  margin: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

header {
  /**/
  background-image: url("../img/bradcam.png");
  /**/
  background-repeat: no-repeat;
  /*ESTE ES EL EJE X Y EL EJE Y*/
  background-size: 100% 90%;
  /*unidad de medida del viewport es responsivo*/
  height: 100vh;
  /*color de los puntitos*/
  color: white;

}

.menu {
  /*pixeles vertical y horizoltal*/
  padding: 50px 0px;
}

header .menu ul {
  margin: 0px;
  padding: opx;
}

header .menu ul li {
  /*muestra los elementos en una linea y en un bloque, se usa para realizar una barra de navegacion o Navigaton BAr ()NavBar*/
  display: inline-block;
  padding: 10px;
  /*alineacion vertical de tamaño medio para que este a nivel del logo*/
  vertical-align: middle;
}

header .menu ul li a {
  color: white;
  /*quita el subrayado del hipervinculo*/
  text-decoration: none;
}

/*se activa cuando el puntero este sobre el enlace*/
header .menu ul li a:hover {
  /*coloca subrayado cuando el puntero este en ese elemento*/
  text-decoration: underline;
}

header .menu ul .logo {
  margin-right: 40%;
  margin-left: 100px;
}

/**/
.main-container header main {
  /*opx verticalmente auto horzontalmente, singnifica que centrara el elemento*/
  margin: 0px auto;
  width: 1400px;
}

.main-container header main div {
  /*mueve la imagen del div al centro del navegador*/
  display: inline-block;
  /*acomoda el texto con la imagen */
  vertical-align: middle;
}

.main-container header main .text h1 {
  /*incrementa el tamaño del h1*/
  font-size: 80px;
}

.main-container header main .text p {
  /*agranda el parrafo*/
  font-size: 24px;
  padding: 20px 0px;
}

/*para modificar el boton*/
button {
  background-color: #24d9e6;
  /*quita el borde del boton*/
  border: 0px;
  /*bordea la forma del boton*/
  border-radius: 3px;
  /*cambia el color de las letras del boton*/
  color: white;
  /*coloca la manito*/
  cursor: pointer;
  font-size: 24px;
  padding: 20px 25px;
  margin: 40px 0px;

}

button:hover {
  /*cambia el color del boton cuando el cursor se colaca en el*/
  background-color: #14929b;
}

.main-conteiner header main .image {
  text-align: right;
  width: 800px;
}

.layout {
  width: 1280px;
  margin: 250px auto;
}

.layout div {
 display: inline-block;
 vertical-align: middle;
}

.layout h3 {
  /*aumenta el tamaño del h3*/
  font-size: 48px;
  padding: 25px 0px;
}

.layout p {
  /*da una distancia del h3 con el parrafo*/
  padding: 35px 0px;
  /*da la altura entre las lineas de texto*/
  line-height: 25px;
}

.layout-left .text {
  width: 500px;
}

.layout-left .image {
  width: 750px;
  /*alinea texto e imagenes*/
  text-align: right;
}

.layout-right .text {
  width: 500px;
}

.layout-right .image {
  width: 750px;
  text-align: center;
}

.section h1 {
  text-align: center;
  padding: 25px 0px;
}

.section p {
  text-align: center;
  padding: 25px 0px;
}

footer {
background-color: #2297e0;
padding: 80px 20px;
color: white;
text-align: center;
}